.footer-at-anika {
    font-weight: 300;
    color: black;
    margin:0 !important;
}

.footer-contact-us {
    font-weight: 300;
    color: black;
    margin-bottom:20px !important;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid #424242;
    padding-bottom: 4px;
    display: inline-block;
    margin: 0;
}

.footer-emissions-report {
    font-weight: 300;
    margin-top: 20px;
}

.footer-bold-font {
    font-weight: bold;
    font-size: 15px;
    color: black;
}

.footer-body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding-top: 10px;
    color: #fff;
    height: 100%;
    min-height: 100% !important;
}

.footer-padding {
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: white;
}

.footer-row {
    margin-left: -15px;
    margin-right: -15px;
}

.footer-p {
    margin: 0 0 10px 0;
}

.footer-a {
    display: block;
    background-color: red;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: white;
    outline: none;
    margin-bottom: 15px;
    margin-right: 10px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

/* Default styling for larger screens (PCs) */
.responsive-div {
    text-align: center;
}

/* Media query for smaller screens (phones) */
@media (max-width: 600px) {
    .responsive-div {
        text-align: left;
    }
}